ecommerce/n8n-workflows/line-chatbot.json
{
  "name": "LINE AI Chatbot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "line",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "name": "Webhook",
      "position": [200, 300],
      "webhookId": "line-main"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "m1",
              "name": "message",
              "value": "={{ $json.body?.events?.[0]?.message?.text ?? $json.events?.[0]?.message?.text ?? 'สวัสดี' }}",
              "type": "string"
            },
            {
              "id": "m2",
              "name": "userId",
              "value": "={{ $json.body?.events?.[0]?.source?.userId ?? $json.events?.[0]?.source?.userId ?? 'unknown' }}",
              "type": "string"
            },
            {
              "id": "m3",
              "name": "industry",
              "value": "={{ $json.body?.industry ?? $json.industry ?? 'ecommerce' }}",
              "type": "string"
            },
            {
              "id": "m4",
              "name": "sheetId",
              "value": "={{ $json.body?.sheetId ?? $json.sheetId ?? '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "name": "Extract",
      "position": [420, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3002/api/chat/webhook",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ message: $json.message, userId: $json.userId, industry: $json.industry, sheetId: $json.sheetId }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "name": "Call Admin API",
      "position": [640, 300],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ reply: $json.reply ?? 'ขออภัยครับ ระบบขัดข้องชั่วคราว' }) }}"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "name": "Reply OK",
      "position": [860, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ reply: 'ขออภัยครับ ระบบขัดข้องชั่วคราว กรุณาลองใหม่อีกครั้ง' }) }}"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "name": "Reply Error",
      "position": [860, 450]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Extract", "type": "main", "index": 0 }]]
    },
    "Extract": {
      "main": [[{ "node": "Call Admin API", "type": "main", "index": 0 }]]
    },
    "Call Admin API": {
      "main": [
        [{ "node": "Reply OK", "type": "main", "index": 0 }],
        [{ "node": "Reply Error", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "active": true
}
