ecommerce/n8n-workflows/line-chatbot.json
{
  "name": "LINE Ecommerce Chatbot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "line",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "name": "Webhook",
      "position": [
        200,
        300
      ],
      "webhookId": "line-ecom"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "m1",
              "name": "message",
              "value": "={{ $json.body?.events?.[0]?.message?.text ?? $json.events?.[0]?.message?.text ?? 'สวัสดี' }}",
              "type": "string"
            },
            {
              "id": "m2",
              "name": "userId",
              "value": "={{ $json.body?.events?.[0]?.source?.userId ?? $json.events?.[0]?.source?.userId ?? 'unknown' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "name": "Extract",
      "position": [
        400,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://caddy:80/products.json",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "name": "Get Products",
      "position": [
        600,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c1",
              "name": "userMessage",
              "value": "={{ $('Extract').item.json.message }}",
              "type": "string"
            },
            {
              "id": "c2",
              "name": "catalog",
              "value": "={{ $json.data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "name": "Merge",
      "position": [
        800,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.deepseek.com/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_DEEPSEEK_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'deepseek-chat', messages: [ { role: 'system', content: 'คุณเป็น AI ร้านค้าออนไลน์ ตอบภาษาไทย สุภาพ กระชับ\\n\\n=== สินค้าในร้าน (ใช้ราคาจากนี้เท่านั้น) ===\\n' + $json.catalog + '\\n===\\n\\nกฎ: 1.ราคาตามแคตตาล็อกเท่านั้น 2.แจ้งสต็อก 3.สั่งซื้อให้สรุปยอดรวม 4.เรื่องอื่นปฏิเสธสุภาพ' }, { role: 'user', content: $json.userMessage } ], max_tokens: 500, temperature: 0.7 }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "name": "DeepSeek",
      "position": [
        1020,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ reply: $json.choices?.[0]?.message?.content ?? 'ขออภัยครับ ระบบขัดข้องชั่วคราว' }) }}"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "name": "Reply",
      "position": [
        1240,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract": {
      "main": [
        [
          {
            "node": "Get Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Products": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "DeepSeek",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek": {
      "main": [
        [
          {
            "node": "Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": true
}