ecommerce/n8n-workflows/order-processing.json
{
  "name": "Order Processing",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "order-demo",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "name": "Webhook",
      "position": [
        250,
        300
      ],
      "webhookId": "order-ecom"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.deepseek.com/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_DEEPSEEK_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'deepseek-chat', messages: [ { role: 'system', content: 'ยืนยันออเดอร์ สรุปรายการ ราคา ที่อยู่จัดส่ง เวลาจัดส่ง 2-3 วันทำการ ตอบภาษาไทยสุภาพ กระชับ' }, { role: 'user', content: JSON.stringify($json.body ?? $json) } ], max_tokens: 300, temperature: 0.5 }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "name": "DeepSeek",
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ reply: $json.choices?.[0]?.message?.content ?? 'รับออเดอร์เรียบร้อยครับ!' }) }}"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "name": "Reply",
      "position": [
        780,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "DeepSeek",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek": {
      "main": [
        [
          {
            "node": "Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": true
}