ecommerce/n8n-workflows/stock-alert.json
{
  "name": "Stock Alert Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "name": "Every 6 Hours",
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT product_name, sku, stock_qty FROM products WHERE stock_qty <= min_stock_threshold ORDER BY stock_qty ASC"
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "name": "Check Low Stock",
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.stock_qty }}",
              "operation": "smallerEqual",
              "value2": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "name": "Has Low Stock?",
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/push",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer YOUR_DEEPSEEK_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"to\":\"{{ $env.ADMIN_LINE_USER_ID }}\",\"messages\":[{\"type\":\"text\",\"text\":\"Low stock alert!\\n{{ $json.product_name }} ({{ $json.sku }}): {{ $json.stock_qty }} left\"}]}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "name": "Alert via LINE",
      "position": [
        850,
        300
      ]
    }
  ],
  "connections": {
    "Every 6 Hours": {
      "main": [
        [
          {
            "node": "Check Low Stock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Low Stock": {
      "main": [
        [
          {
            "node": "Has Low Stock?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Low Stock?": {
      "main": [
        [
          {
            "node": "Alert via LINE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Bangkok"
  }
}