legal/n8n-workflows/pdpa-check.json
{
  "name": "PDPA Compliance Checker",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pdpa-demo",
        "responseMode": "responseNode"
      },
      "id": "webhook-pdpa",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "name": "PDPA Webhook",
      "position": [200, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-content",
              "name": "content",
              "value": "={{ $json.body.content }}",
              "type": "string"
            },
            {
              "id": "set-context",
              "name": "context",
              "value": "={{ $json.body.context }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "set-pdpa",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "name": "Extract Document Data",
      "position": [400, 300]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=เอกสาร/กระบวนการที่ต้องตรวจสอบ:\n{{ $json.content }}\n\nบริบท: {{ $json.context }}",
        "options": {
          "systemMessage": "คุณเป็น AI ที่ตรวจสอบเอกสารตาม พ.ร.บ.คุ้มครองข้อมูลส่วนบุคคล (PDPA) ชี้จุดที่อาจไม่สอดคล้อง เสนอแนะการแก้ไข ตอบเป็นภาษาไทย"
        }
      },
      "id": "agent-pdpa",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "name": "AI Agent",
      "position": [600, 300]
    },
    {
      "parameters": {
        "model": "deepseek-chat",
        "options": {
          "baseURL": "https://api.deepseek.com",
          "temperature": 0.7
        }
      },
      "id": "llm-pdpa",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "name": "DeepSeek Chat",
      "position": [600, 500],
      "credentials": {
        "openAiApi": {
          "id": "deepseek-cred",
          "name": "DeepSeek API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ reply: $json.output }) }}"
      },
      "id": "respond-pdpa",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "name": "Respond to Webhook",
      "position": [800, 300]
    }
  ],
  "connections": {
    "PDPA Webhook": {
      "main": [[{ "node": "Extract Document Data", "type": "main", "index": 0 }]]
    },
    "Extract Document Data": {
      "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]]
    },
    "DeepSeek Chat": {
      "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]]
    },
    "AI Agent": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": true
}
